:root {
    --green: #5cb85c;
}


h2 {
    font-size: 24px;
    background: var(--green);
    color: white;
    text-align: center;
    padding: 5px 0;
}

.table > thead {
    background: var(--green);
    color: white;
}
.table > thead > tr > th{
    border-color: var(--green);
}
.table > tbody > tr > td {
    border-color: var(--green);
}

.row{
    margin:0;
}

span.list-group-item-remove {
    background: #eee;
    color: #aaa;
    padding: 1px;
    position: absolute;
    right: 0;
    top: calc(50% - 15px);
    width: 20px;
    text-align: center;
    cursor: pointer;
    transition: all linear 0.3s;
}

span.list-group-item-remove:hover {
    background: #aaa;
    color: #777;
}

input.ng-invalid.ng-touched {
    border-color: pink;
}

input.ng-valid.ng-touched {
    border-color: lightgreen;
}





#loaderDiv {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1100;
    background-color: white;
    opacity: .6;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -128px;
    margin-top: -128px;
    display: block;
    width: 256px;
}